In [1]:
import numpy as np
import pandas as pd
import scipy as sc
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import sys
sys.path.append('/home/ryohayama/python_current/BasicFeatureAnalysis')

import feature as F
import feature_collection as FC
import ps.joint_probability as psjp

/home/ryohayama/.local/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
train = pd.read_csv('train.csv', header=0)
test = pd.read_csv('test.csv', header=0)
target = train.target

### inds

In [4]:
ind_fs = [f for f in train.columns if 'ind' in f]
ind_fs.remove('ps_ind_14')
inds_train = train.loc[:, ind_fs]
inds_test= test.loc[:, ind_fs]
ind_fs

['ps_ind_01',
 'ps_ind_02_cat',
 'ps_ind_03',
 'ps_ind_04_cat',
 'ps_ind_05_cat',
 'ps_ind_06_bin',
 'ps_ind_07_bin',
 'ps_ind_08_bin',
 'ps_ind_09_bin',
 'ps_ind_10_bin',
 'ps_ind_11_bin',
 'ps_ind_12_bin',
 'ps_ind_13_bin',
 'ps_ind_15',
 'ps_ind_16_bin',
 'ps_ind_17_bin',
 'ps_ind_18_bin']

In [5]:
tuple_train1 = inds_train.apply(tuple, axis=1)
tuple_test1 = inds_test.apply(tuple, axis=1)

In [6]:
print('Train: # Unique Vals - %6d' % len(tuple_train1.unique()))
print('Test : # Unique Vals - %6d' % len(tuple_test1.unique()))

num_total = len(tuple_test1)
num_intersect = len(tuple_test1[tuple_test1.isin(tuple_train1)])
num_notCounted = num_total - num_intersect
print('#    Total    - %6d' % num_total)
print('#   Overlap   - %6d' % num_intersect)
print('# Non-overlap - %6d' % num_notCounted)

Train: # Unique Vals -  93282
Test : # Unique Vals - 113342
#    Total    - 892816
#   Overlap   - 823644
# Non-overlap -  69172

### cars

In [7]:
car_fs = ['ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat',
          'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat',
           'ps_car_11_cat', 'ps_car_11', 'ps_car_15']
cars_train = train.loc[:, car_fs]
cars_test= test.loc[:, car_fs]
car_fs

['ps_car_01_cat',
 'ps_car_02_cat',
 'ps_car_03_cat',
 'ps_car_04_cat',
 'ps_car_05_cat',
 'ps_car_06_cat',
 'ps_car_07_cat',
 'ps_car_08_cat',
 'ps_car_09_cat',
 'ps_car_10_cat',
 'ps_car_11_cat',
 'ps_car_11',
 'ps_car_15']

In [8]:
tuple_train2 = cars_train.apply(tuple, axis=1)
tuple_test2 = cars_test.apply(tuple, axis=1)

In [9]:
print('Train: # Unique Vals - %6d' % len(tuple_train2.unique()))
print('Test : # Unique Vals - %6d' % len(tuple_test2.unique()))

num_total = len(tuple_test2)
num_intersect = len(tuple_test2[tuple_test2.isin(tuple_train2)])
num_notCounted = num_total - num_intersect
print('#    Total    - %6d' % num_total)
print('#   Overlap   - %6d' % num_intersect)
print('# Non-overlap - %6d' % num_notCounted)

Train: # Unique Vals - 106485
Test : # Unique Vals - 131162
#    Total    - 892816
#   Overlap   - 809255
# Non-overlap -  83561

### calcs

In [10]:
calcs_fs = ['ps_calc_05', 'ps_calc_07', 'ps_calc_10', 'ps_calc_12', 'ps_calc_13', 'ps_calc_14']
calcs_train = train.loc[:, calcs_fs]
calcs_test= test.loc[:, calcs_fs]
calcs_fs

['ps_calc_05',
 'ps_calc_07',
 'ps_calc_10',
 'ps_calc_12',
 'ps_calc_13',
 'ps_calc_14']

In [11]:
tuple_train3 = calcs_train.apply(tuple, axis=1)
tuple_test3 = calcs_test.apply(tuple, axis=1)

In [12]:
print('Train: # Unique Vals - %6d' % len(tuple_train3.unique()))
print('Test : # Unique Vals - %6d' % len(tuple_test3.unique()))

num_total = len(tuple_test3)
num_intersect = len(tuple_test3[tuple_test3.isin(tuple_train3)])
num_notCounted = num_total - num_intersect
print('#    Total    - %6d' % num_total)
print('#   Overlap   - %6d' % num_intersect)
print('# Non-overlap - %6d' % num_notCounted)

Train: # Unique Vals - 155195
Test : # Unique Vals - 186898
#    Total    - 892816
#   Overlap   - 782109
# Non-overlap - 110707

### regs

In [13]:
reg_fs = ['ps_reg_01', 'ps_reg_02']
regs_train = train.loc[:, reg_fs]
regs_test= test.loc[:, reg_fs]
reg_fs

['ps_reg_01', 'ps_reg_02']

In [14]:
tuple_train4 = regs_train.apply(tuple, axis=1)
tuple_test4 = regs_test.apply(tuple, axis=1)

In [15]:
print('Train: # Unique Vals - %6d' % len(tuple_train4.unique()))
print('Test : # Unique Vals - %6d' % len(tuple_test4.unique()))

num_total = len(tuple_test4)
num_intersect = len(tuple_test4[tuple_test4.isin(tuple_train4)])
num_notCounted = num_total - num_intersect
print('#    Total    - %6d' % num_total)
print('#   Overlap   - %6d' % num_intersect)
print('# Non-overlap - %6d' % num_notCounted)

Train: # Unique Vals -    140
Test : # Unique Vals -    140
#    Total    - 892816
#   Overlap   - 892816
# Non-overlap -      0

# Set up a function to get most similar sample(s)

In [16]:
tuple1 = tuple_test1[0]
tuple1

(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1, 0, 0)

In [17]:
len(tuple1)

17

In [18]:
df1 = pd.DataFrame()
df1['original'] = tuple_train1.drop_duplicates()

In [19]:
df1.shape

(93282, 1)

In [20]:
df1['array'] = df1.original.apply(np.array)
df1.head()

,original,array
0,"(2, 2, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 0,...","[2, 2, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 0,..."
1,"(1, 1, 7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, ...","[1, 1, 7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, ..."
2,"(5, 4, 9, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 12, 1,...","[5, 4, 9, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 12, 1,..."
3,"(0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 8, 1, ...","[0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 8, 1, ..."
4,"(0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 9, 1, ...","[0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 9, 1, ..."

In [21]:
df1.shape

(93282, 2)

In [22]:
df1['subtracted'] = df1.array - np.array(tuple1)

In [23]:
df1.head()

,original,array,subtracted
0,"(2, 2, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 0,...","[2, 2, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 0,...","[2, 1, -3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -..."
1,"(1, 1, 7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, ...","[1, 1, 7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, ...","[1, 0, -1, -1, 0, 0, -1, 1, 0, 0, 0, 0, 0, -9,..."
2,"(5, 4, 9, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 12, 1,...","[5, 4, 9, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 12, 1,...","[5, 3, 1, 0, 0, 0, -1, 1, 0, 0, 0, 0, 0, 0, 0,..."
3,"(0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 8, 1, ...","[0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 8, 1, ...","[0, 0, -6, -1, 0, 1, -1, 0, 0, 0, 0, 0, 0, -4,..."
4,"(0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 9, 1, ...","[0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 9, 1, ...","[0, 1, -8, 0, 0, 1, -1, 0, 0, 0, 0, 0, 0, -3, ..."

In [24]:
df1['num_nonidentity'] = df1.subtracted.apply(np.count_nonzero)

In [25]:
df1.sort_values('num_nonidentity', ascending=True)#.head(20)

,original,array,subtracted,num_nonidentity
3779,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
32653,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 9, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 9, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",1
10969,"(4, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[4, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
11432,"(3, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[3, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
993,"(0, 1, 6, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 6, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, -2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
6927,"(2, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[2, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
13171,"(0, 1, 9, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 9, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
120778,"(0, 1, 8, 1, 4, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 8, 1, 4, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
100529,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 0,...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1,...",1
7618,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 8, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 8, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -4, 0,...",1
74984,"(0, 1, 8, 1, 6, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 8, 1, 6, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
174870,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -12, 0...",1
4959,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 1,...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 1,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",1
348,"(0, 1, 3, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 3, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, -5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
13492,"(0, 4, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 4, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
9414,"(0, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
3258,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 5, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 5, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -7, 0,...",1
1062,"(0, 1, 7, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 7, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
9003,"(0, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, -6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
55052,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, 0...",1
35249,"(0, 1, 10, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1...","[0, 1, 10, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1...","[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
4414,"(6, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[6, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
51342,"(0, 1, 11, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1...","[0, 1, 11, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1...","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
15181,"(0, 1, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, -3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1
213490,"(0, 1, 8, 1, 3, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 1, 8, 1, 3, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
7895,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -8, 0,...",1
1904,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 10, 1,...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 10, 1,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -2, 0,...",1
109454,"(0, 3, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 3, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 12, 1,...","[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
2480,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 13, 1,...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 13, 1,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
559531,"(0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 1, ...","[0, 1, 8, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -9, 0,...",1
...,...,...,...,...
110900,"(0, 3, 5, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, ...","[0, 3, 5, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, ...","[0, 2, -3, -1, 0, 0, -1, 0, 1, 0, 1, 1, 1, -12...",11
67605,"(2, 1, 5, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[2, 1, 5, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[2, 0, -3, -1, 0, 0, -1, 1, 0, 0, 1, 1, 1, -12...",11
126355,"(2, 2, 0, 0, -1, 1, 0, 0, 0, 0, 0, 1, 0, 4, 0,...","[2, 2, 0, 0, -1, 1, 0, 0, 0, 0, 0, 1, 0, 4, 0,...","[2, 1, -8, -1, -1, 1, -1, 0, 0, 0, 0, 1, 0, -8...",11
513910,"(0, -1, 1, 0, -1, 1, 0, 0, 0, 0, 0, 1, 1, 3, 0...","[0, -1, 1, 0, -1, 1, 0, 0, 0, 0, 0, 1, 1, 3, 0...","[0, -2, -7, -1, -1, 1, -1, 0, 0, 0, 0, 1, 1, -...",11
589456,"(5, 1, 10, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,...","[5, 1, 10, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,...","[5, 0, 2, -1, 0, 0, -1, 1, 0, 0, 1, 1, 1, -12,...",11
398854,"(1, 3, 9, 0, 3, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...","[1, 3, 9, 0, 3, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...","[1, 2, 1, -1, 3, 0, -1, 1, 0, 1, 0, 0, 0, -12,...",11
414686,"(4, 2, 0, 0, -1, 0, 0, 0, 1, 0, 0, 1, 0, 6, 0,...","[4, 2, 0, 0, -1, 0, 0, 0, 1, 0, 0, 1, 0, 6, 0,...","[4, 1, -8, -1, -1, 0, -1, 0, 1, 0, 0, 1, 0, -6...",11
583770,"(2, 2, 1, 0, -1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,...","[2, 2, 1, 0, -1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,...","[2, 1, -7, -1, -1, 0, -1, 1, 0, 0, 0, 1, 0, -1...",11
491719,"(6, 2, 0, 0, -1, 1, 0, 0, 0, 0, 0, 1, 0, 6, 0,...","[6, 2, 0, 0, -1, 1, 0, 0, 0, 0, 0, 1, 0, 6, 0,...","[6, 1, -8, -1, -1, 1, -1, 0, 0, 0, 0, 1, 0, -6...",11
59009,"(1, 1, 7, 0, 6, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[1, 1, 7, 0, 6, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[1, 0, -1, -1, 6, 0, -1, 1, 0, 0, 1, 1, 0, -12...",11
297912,"(0, 1, 6, 0, 6, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, ...","[0, 1, 6, 0, 6, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, ...","[0, 0, -2, -1, 6, 1, -1, 0, 0, 0, 1, 1, 1, -12...",11
291700,"(0, 2, 4, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, ...","[0, 2, 4, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, ...","[0, 1, -4, -1, 0, 1, -1, 0, 0, 1, 1, 1, 0, -12...",11
549840,"(0, 2, 3, 0, 4, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, ...","[0, 2, 3, 0, 4, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, ...","[0, 1, -5, -1, 4, 0, -1, 0, 1, 0, 1, 1, 0, -12...",11
542485,"(1, 4, 2, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, ...","[1, 4, 2, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, ...","[1, 3, -6, -1, 0, 0, -1, 0, 1, 0, 1, 1, 0, -12...",11
50642,"(3, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,...","[3, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,...","[3, 1, -8, -1, -1, 1, -1, 0, 0, 0, 1, 1, 0, -1...",12
498806,"(2, 2, 7, 0, 4, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[2, 2, 7, 0, 4, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[2, 1, -1, -1, 4, 0, -1, 1, 0, 0, 1, 1, 0, -12...",12
564742,"(1, 1, 6, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, ...","[1, 1, 6, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, ...","[1, 0, -2, -1, 0, 1, -1, 0, 0, 1, 1, 1, 1, -12...",12
464241,"(7, 2, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, ...","[7, 2, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, ...","[7, 1, -7, -1, 0, 1, -1, 0, 0, 1, 0, 1, 1, -12...",12
524428,"(1, 2, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, ...","[1, 2, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, ...","[1, 1, -7, -1, 1, 0, -1, 0, 1, 1, 0, 1, 0, -12...",12
103322,"(3, 2, 0, 0, -1, 0, 0, 0, 1, 0, 1, 1, 0, 2, 0,...","[3, 2, 0, 0, -1, 0, 0, 0, 1, 0, 1, 1, 0, 2, 0,...","[3, 1, -8, -1, -1, 0, -1, 0, 1, 0, 1, 1, 0, -1...",12
496329,"(0, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 1, 2, 0,...","[0, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 1, 2, 0,...","[0, 1, -8, -1, -1, 1, -1, 0, 0, 0, 1, 1, 1, -1...",12
182797,"(4, 2, 5, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[4, 2, 5, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[4, 1, -3, -1, 0, 0, -1, 1, 0, 0, 1, 1, 1, -12...",12
345622,"(4, 1, 6, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, ...","[4, 1, 6, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, ...","[4, 0, -2, -1, 0, 0, -1, 1, 0, 1, 1, 1, 1, -12...",12
302213,"(4, 2, 4, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, ...","[4, 2, 4, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, ...","[4, 1, -4, -1, 0, 0, -1, 1, 0, 1, 1, 1, 0, -12...",12
171615,"(0, 2, 5, 0, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[0, 2, 5, 0, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[0, 1, -3, -1, 2, 0, -1, 1, 0, 0, 1, 1, 1, -12...",12
290666,"(3, 3, 5, 0, 6, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[3, 3, 5, 0, 6, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ...","[3, 2, -3, -1, 6, 0, -1, 1, 0, 0, 1, 1, 0, -12...",12
332174,"(4, 2, 0, 0, -1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,...","[4, 2, 0, 0, -1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,...","[4, 1, -8, -1, -1, 0, -1, 1, 0, 0, 1, 1, 0, -1...",12
416321,"(3, 2, 2, 1, 6, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[3, 2, 2, 1, 6, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, ...","[3, 1, -6, 0, 6, 0, -1, 1, 0, 0, 1, 1, 1, -12,...",12
515108,"(1, 2, 0, 0, -1, 0, 0, 0, 1, 1, 0, 1, 1, 7, 0,...","[1, 2, 0, 0, -1, 0, 0, 0, 1, 1, 0, 1, 1, 7, 0,...","[1, 1, -8, -1, -1, 0, -1, 0, 1, 1, 0, 1, 1, -5...",13
65172,"(3, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,...","[3, 2, 0, 0, -1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,...","[3, 1, -8, -1, -1, 1, -1, 0, 0, 0, 1, 1, 1, -1...",13

In [26]:
def find_similar_entries(entry, entries):
    '''
    entry: tuple
        entry of interest.
    entries: pd.Series
        search space for the entry
    '''
    df = pd.DataFrame()
    df['original'] = entries
    df['difference'] = df['original'].apply(np.array) - np.array(entry)
    df['non_identity'] = df['difference'].apply(np.count_nonzero)
    min_difference = np.min(df['non_identity'])
    similar_entries = df['original'][df['non_identity'] == min_difference].drop_duplicates()
    
    print('%d similar entries with %d feature difference' % (len(similar_entries), min_difference))
    
    return similar_entries

In [27]:
non_ol_index = tuple_test1.index[tuple_test1.isin(tuple_train1) == False]
non_ol_index

Int64Index([    21,     37,     39,     45,     70,     74,     76,     97,
               103,    114,
            ...
            892690, 892707, 892716, 892733, 892740, 892742, 892746, 892758,
            892764, 892768],
           dtype='int64', length=69172)

In [28]:
a = find_similar_entries(tuple_test1[21], tuple_train1)

13 similar entries with 1 feature difference

In [29]:
list(a)

[(7, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1),
 (0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (3, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 7, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 0, 0, 1),
 (6, 2, 4, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 0, 0, 1),
 (6, 2, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (6, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1),
 (2, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1),
 (1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 5, 0, 0, 1)]

# Set up a function to estimate cond proba of being in class1 for non-overlapping entries

In [30]:
ind_probas = psjp.JointProbability().fit_transform(inds_train, target, label='ind_proba')

In [32]:
tuple_train1.name = 'tuple'
df1 = pd.concat([tuple_train1, ind_probas], axis=1).set_index('tuple')

In [33]:
df1.head()

                                                    ind_proba
tuple
(2, 2, 5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 11, 0, ...   0.000000
(1, 1, 7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, 0...   0.000000
(5, 4, 9, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 12, 1, ...   0.000000
(0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 8, 1, 0...   0.021140
(0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 9, 1, 0...   0.019608

In [34]:
df1.shape

(595212, 1)

In [35]:
similar_list = list(find_similar_entries(tuple_test1[39], tuple_train1))

18 similar entries with 1 feature difference

In [36]:
probas = df1.loc[similar_list]
probas.shape

(77, 1)

In [37]:
probas

                                                    ind_proba
tuple
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 1, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 1, 0...   0.500000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 1, 0...   0.500000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 1, 0...   0.500000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 1, 0...   0.500000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 11, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 12, 1, ...   0.111111
(1, 3, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
...                                                       ...
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 7, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 7, 1, 0...   0.000000
(1, 3, 5, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 9, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 9, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 9, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 9, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 9, 1, 0...   0.000000
(3, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 8, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 8, 1, 0...   0.000000
(1, 3, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 6, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 6, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 6, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 10, 1, ...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 10, 1, ...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 10, 1, ...   0.000000
(1, 3, 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 10, 1, ...   0.000000
(1, 3, 4, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 1, 0...   0.000000

[77 rows x 1 columns]

In [38]:
np.mean(probas)

ind_proba    0.064935
dtype: float64

In [62]:
def find_similar_entries2(entry, proba_table):

    df = pd.DataFrame()
    df['original'] = proba_table.index
    df['difference'] = df['original'].apply(np.array) - np.array(entry)
    df['non_identity'] = df['difference'].apply(np.count_nonzero)
    min_difference = np.min(df['non_identity'])
    similar_entries = df['original'][df['non_identity'] == min_difference].drop_duplicates()
    
    probas = proba_table.loc[list(similar_entries)]
    
    return np.mean(probas)

In [63]:
print(len(non_ol_index))
non_ol_index

69172

Int64Index([    21,     37,     39,     45,     70,     74,     76,     97,
               103,    114,
            ...
            892690, 892707, 892716, 892733, 892740, 892742, 892746, 892758,
            892764, 892768],
           dtype='int64', length=69172)

In [64]:
%%time
find_similar_entries2(tuple_test1[103], df1)

CPU times: user 1.51 s, sys: 63.9 ms, total: 1.57 s
Wall time: 1.57 s

ind_proba    0.0
dtype: float64